#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers>li{
    border: 1px solid #ccc;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}
.loading{
  position: relative;
  width: 100%;
  height: 400px;
}
.circle{
  position: absolute;
    height: 40px;
    left: 44%;
    top: 50%;
}
.active {
  background-color: aquamarine;
}